section#live
  a.return-home(onclick='returnHome()') BACK
  .live-container
    ul#live-list
      li
        span 03/08 Fux, AT
      li
        span 24/08 Buxushi, BU
      li
        span 02/09 Muxini, KI
      li
        span 03/09 Muxinsu, DA
  .quote-container
    p.quote "You said: what, I said: spring is dead"

