section#photo
  a.return-home(onclick='returnHome()') BACK

  .photo-container
    .photo
      img(src='assets/img/photos/img1.jpg')
    .photo
      img(src='assets/img/photos/bb_shoot2.jpg')
    .photo
      img(src='assets/img/photos/zwei.jpg')
    .photo
      img(src='assets/img/photos/img2.jpg')
