section#home

  .home-wrapper
    img.back-img(src='./assets/img/mountain.jpg')
    img.back-img(src='./assets/img/people.jpg')
    img.back-img(src='./assets/img/city.jpg')
    img.back-img(src='./assets/img/space.jpg')
    .main-title
      h1 EUGENE DELTA
    .full-container

    .home-container

      .part-container.part-left
        #1.part.part-1
          h1.title Photo
        #2.part.part-2
          h1.title Music

      .part-container.part-right
        #3.part.part-3
          h1.title Live

        #4.part.part-4
          h1.title Contact


